/* Home page style and form */
input {
    width: 100%;    
}
.container {
    width: 800px;
    padding: 5px 10px;
    margin-top: 150px;
    margin-bottom: 50px;
}
.container-items {
    display: flex;
    justify-content: center; 
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  input[type=reset] {
    background-color: #0d45ac;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
a { text-decoration: none; 
    color: #8ebf42;
}
a:hover {
    color: red;
}

footer {
    text-align: center;
    margin-top: 60px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    height: 80px;
    box-sizing: border-box;
    
        border: none;
        border-bottom: 2px solid red;
      
  }
  #lavoro {
    display: none;
  }

  #telephone {
    margin-top: 20px;
    width: 100%;
    padding: 12px 20px;
    border: none;
    height: 80px;
    box-sizing: border-box;
    border-bottom: 2px solid red;
  }
  /* Tabelle fetch */

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }